<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.future.technology.serverone.essay.dao.EssayWebMapper">
    <select id="getEssayList" resultType="com.future.technology.serverone.essay.domain.EssayCustomer">
        SELECT DISTINCT a.essay_id
            , a.essay_title
            , b.catogory_name
            , a.essay_mktime
        FROM essay a
        LEFT OUTER JOIN catogorydir b ON a.catogory_id = b.catogory_id
        LEFT OUTER JOIN statusdir   c ON a.status_id   = c.status_id
        WHERE c.status_id = 0
    </select>

    <select id="getEssayDetail" parameterType="java.lang.Long" resultType="com.future.technology.serverone.essay.domain.EssayCustomer">
        SELECT DISTINCT a.essay_id
            , a.essay_title
            , b.catogory_name
            , c.status_name
            , a.essay_mktime
            , a.essay_content
        FROM essay a
        LEFT OUTER JOIN catogorydir b ON a.catogory_id = b.catogory_id
        LEFT OUTER JOIN statusdir   c ON a.status_id   = c.status_id
        WHERE a.essay_id = #{id}
    </select>
</mapper>