<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.future.technology.serverone.essay.dao.EssayWebMapper">
    <select id="getEssayList" resultType="com.future.technology.serverone.essay.domain.EssayCustomer">
        SELECT
        essay_title,
        catogory_id,
        essay_modtime
        FROM `essay`
        ORDER BY essay_mktime DESC
    </select>

    <select id="getEssayDetail" parameterType="java.lang.Long" resultType="com.future.technology.serverone.essay.domain.EssayCustomer">
        SELECT
        a.*
        , b.catogory_name
        , c.status_name
        FROM(SELECT
        essay_title
        , essay_mktime
        , essay_content
        , catogory_id
        , status_id
        FROM essay
        WHERE essay_id = #{id}) a
        LEFT JOIN catogorydir b ON a.catogory_id = b.catogory_id
        LEFT JOIN statusdir   c ON a.status_id   = c.status_id
    </select>
</mapper>